* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container { 
    max-width: 1400px;
    padding: 0 50px;
    margin: auto auto;
   }

.container .header .heading {
    background-color: black;
    text-align: center;
    padding: 10px;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #ff4e4e;
}

.container .header small {
    color: rgb(26, 255, 0);
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.container .header h2 {
    padding: 02px 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
}

.container .header h3 {
    padding: 0 0 0 10px;
    font-family: 'Roboto', sans-serif;
}

.container .header p {
    padding: 02px 10px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    text-align: justify;
}

.service .serv-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.service .serv-content .card {
    width: calc(33% - 25px);
    background-color: #222;
    color: #fff;
    padding:30px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 50px;
    border-radius: 7px;
    position: relative;
}

.service .serv-content .card .box {
    padding: 0 5px;
}

.service .serv-content .card .box.correction-box:before {
    content: "Need To be Correction.Revised words are marked in green. ";
    color: lime;
    position: absolute;
    font-size: 12px;
    width: 350px;
    top: 16px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
}

.service .serv-content .card .box p {
    letter-spacing: 1px;
    line-height : 30px

}

.demo-Heading{
    font-size: 50px;
    color: crimson;
    text-align: center;
    margin-top: 30px;
    font-family: sans-serif;
    text-decoration: underline;
}

.service .container .demo-Nameplate {
    display:block;
    margin: auto;
    margin-top: 10px;
    background-color: #000000;
    padding: 20px;
}

.service .container .demo-Nameplate .demo-Nameplate-Card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    background-color: #000000;
    color: #fff;
    padding:10px 10px;
    padding-left: 0px;
    font-family:'Roboto', sans-serif;
    font-weight:600;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    margin: auto;
    margin-bottom: 0px;
    border: 10px solid white;
    position: relative;
    /* display: block; */
}

.service .container .demo-Nameplate .demo-Nameplate-Card.mamun{
    margin-top: 40px;
    padding: 5px 10px
}



.service .container .demo-Nameplate .demo-Nameplate-Card .logo img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    transform: scale(1);
}

.service .container .demo-Nameplate .demo-Nameplate-Card .box .name {
    font-size: 28px;
}

.service .container .demo-Nameplate .demo-Nameplate-Card .box .course-Detail {
    font-size: 18px;
    margin-top: 2px;
}

.service .container .demo-Nameplate .demo-Nameplate-Card .box .course-Location {
    font-size: 18px;
    margin-top: 3px;
}

.service .container .demo-Nameplate .demo-Nameplate-Card.mamun .box .name{
    font-size: 40px;
}

.service .container .demo-Nameplate .demo-Nameplate-Card.mamun .box .course-Detail{
    font-size: 26px;
}

.service .container .demo-Nameplate .demo-Nameplate-Card.mamun .box .course-Location{
    font-size: 22px;
}

.service .serv-content .card .box .roll {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #00e5ff;
    text-align: center;
}

.service .serv-content .card .box .name {
    color: wheat;
    text-align:center;
    font-size:  30px;
    text-transform: uppercase;
}

.service .serv-content .card .box .student-id span {
    background-color: rgb(255, 141, 0, 1);
    color: black;
    font-weight:bolder;
    padding: 0 10px;
    border-radius: 20px
}

.service .serv-content .card .box .batch, .blood-group {
    margin-top: -5px;
}

.service .serv-content .card .box .blood-group span {
    color: crimson;
    font-weight: 600;
}

.service .serv-content .card .box span.correction {
    color: #00ff4c;
    background-color: #222
}



.footer {
    padding: 20px 0;
    background-color: #ff4e4e;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #111;
  }
  
  .footer a {
    color: rgb(30, 0, 255, 1);
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .far .fa-copyright::before {
    content: "" \f1f9"";
  }




/* responsive */
@media (max-width: 947px) {
.service .serv-content {
    justify-content: center;
    margin-top: 30px;
}

.service .serv-content .card:nth-child(odd) {
    margin-right: 10px;
}

.service .serv-content .card {
    width: calc(50% - 10px);
    padding: 50px 30px;
    margin-bottom: 20px;
}
}



@media (max-width: 600px){
.container {
    padding: 0;
}

.service .serv-content .card:nth-child(odd) {
    margin-right: 0px;
}

.service .serv-content .card {
    width: calc(100% - 10px);
    padding: 45px 15px;
    margin-bottom: 15px;
}

.footer {
    font-size: 16px;
}
}